@media(min-width:450px){
  #browserView{
    height: 100%;
    width: 375px;
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  .homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .topImg{
        width: 100%;
        position:relative;
        animation: topmove 1s;
        animation-fill-mode: forwards;             
    }
    @keyframes 
        topmove {
        from {top: -30%;}
        to {top: 0%;}
    }
    .titleContainer{
        margin: 35%

    }
    
    .trumpHomeCandi{
        position:fixed;
        height: 270px;
        margin-top: -140px;
        margin-left: -74px;
        animation: trumpmove 1.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        trumpmove {
        from {top: -30%;}
        to {top: 24%;}
    }
    .bidenHomeCandi{
        height: 270px;
        position: fixed;
        margin-top: 20px;
        margin-left: 75px;
        animation: bidenmove 2s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bidenmove {
        from {top: -30%;}
        to {top: 1%;}
    }
    .harrisHomeCandi{
        height: 200px;
        position: fixed;
        margin-left: -98px;
        margin-bottom: 78px;

        animation: harrismove 1.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        harrismove {
        from {bottom: -30%;}
        to {bottom: 20%;}
    }
    .penceHomeCandi{
        height: 270px;
        position: fixed;
        margin-left: 83px;
        margin-bottom: 50px;
        animation: pencemove 1.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        pencemove {
        from {bottom: -30%;}
        to {bottom: 25%;}
    }
    .bottomImg{
        width: 100%;
        position:relative;
        animation: bottommove 1s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bottommove {
        from {bottom: -30%;}
        to {bottom: 0px;}
    }




}
@media(max-width:450px){
    .homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    }
   
    .topImg{
        width: 100%;
        position:fixed;
        
        animation: topmove 1s;
        animation-fill-mode: forwards;             
    }
    @keyframes 
        topmove {
        from {top: -30%;}
        to {top: 0%;}
    }
    .titleContainer{
        position: fixed;
        left: 23%;
        top: 37%;
    }
    
    .trumpHomeCandi{
        height: 43%;
        position: fixed;
        left: -71px;
        animation: trumpmove 3s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        trumpmove {
        from {top: -30%;}
        to {top: 8%;}
    }
    .bidenHomeCandi{
        height: 41%;
        position: fixed;
        right: -71px;
        animation: bidenmove 2s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bidenmove {
        from {top: -30%;}
        to {top: 1%;}
    }
    .harrisHomeCandi{
        height: 30%;
        position: fixed;
        margin-left: -98px;
        margin-bottom: 10px;
        animation: harrismove 3s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        harrismove {
        from {bottom: -30%;}
        to {bottom: 20%;}
    }
    .penceHomeCandi{
        height: 36%;
        position: fixed;
        right: -31px;
        animation: pencemove 2.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        pencemove {
        from {bottom: -30%;}
        to {bottom: 25%;}
    }
    .bottomImg{
        width:100%;
        position:fixed;
        animation: bottommove 1s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bottommove {
        from {bottom: -30%;}
        to {bottom: 0px}
    }
}
