@media(min-width:450px){
  html{
    height: 820px;
    width: 375px;
    margin:auto;
    margin-top:20px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }
  .topImg{
        width: 365px;
        position:fixed;
        margin-top:20px;
        animation: topmove 1s;
        animation-fill-mode: forwards;             
    }
    @keyframes 
        topmove {
        from {top: -30%;}
        to {top: 0%;}
    }
    .titleContainer{
        margin: 300px 60px 0 64px;

    }
  
    
    .trumpHomeCandi{
        height: 270px;
        position: fixed;
        margin:auto;
        margin-left: -20px;
        animation: trumpmove 3s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        trumpmove {
        from {top: -30%;}
        to {top: 8%;}
    }
    .bidenHomeCandi{
        height: 252px;
        position: fixed;
        margin:auto;
        margin-left:140px;
        animation: bidenmove 2s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bidenmove {
        from {top: -30%;}
        to {top: 1%;}
    }
    .harrisHomeCandi{
        height: 240px;
        position: fixed;
        left: -7%;
        animation: harrismove 4s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        harrismove {
        from {bottom: -30%;}
        to {bottom: 20%;}
    }
    .penceHomeCandi{
        height: 270px;
        position: fixed;
        right: -6%;
        animation: pencemove 4.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        pencemove {
        from {bottom: -30%;}
        to {bottom: 25%;}
    }
    .bottomImg{
        width: 365px;
        position:fixed;
        margin-bottom: 90px;
        animation: bottommove 1s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bottommove {
        from {bottom: -30%;}
        to {bottom: 0px;}
    }




}
@media(max-width:450px){
   
    .topImg{
        width: 100%;
        position:fixed;
        
        animation: topmove 1s;
        animation-fill-mode: forwards;             
    }
    @keyframes 
        topmove {
        from {top: -30%;}
        to {top: 0%;}
    }
    .titleContainer{
        position: fixed;
        left: 23%;
        top: 37%;
    }
    
    .homeTitle{
        
    }
    .homeSubtitle{

    }
    
    
    .trumpHomeCandi{
        height: 352px;
        position: fixed;
        left:-19%;
        animation: trumpmove 3s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        trumpmove {
        from {top: -30%;}
        to {top: 8%;}
    }
    .bidenHomeCandi{
        height: 293px;
        position: fixed;
        right:-12%;
        animation: bidenmove 2s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bidenmove {
        from {top: -30%;}
        to {top: 1%;}
    }
    .harrisHomeCandi{
        height: 240px;
        position: fixed;
        left: -7%;
        animation: harrismove 4s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        harrismove {
        from {bottom: -30%;}
        to {bottom: 20%;}
    }
    .penceHomeCandi{
        height: 270px;
        position: fixed;
        right: -6%;
        animation: pencemove 4.5s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        pencemove {
        from {bottom: -30%;}
        to {bottom: 25%;}
    }
    .bottomImg{
        width:100%;
        position:fixed;
        
        animation: bottommove 1s;
        animation-fill-mode: forwards;
    }
    @keyframes 
        bottommove {
        from {bottom: -30%;}
        to {bottom: 0px;}
    }
}
